#ajax_update.clearfix
  #middle.clearfix
    #pagination
      = will_paginate @assets, :inner_window => 1, :outer_window => 0
      = render :partial => 'view_select'
  #assets_holder
    -if @assets.empty?
      .no_results No results!
    - else
      %ul#assets.asset_images.clearfix
        - @assets.each do |asset|
          %li
            %a{:href => "#{asset.asset.url(:normal)}"}
              .asset_title
                = truncate(asset.title, :length => 16)
              .asset
                %img{:src => asset.thumbnail(:thumbnail) }
