#tp_body
  #tp_top
    %ul#tp_tabs.clearfix
      %li
        %a{:id => 'files_link', :href => files_path, :class => "selected"} Files
      %li
        %a{:id => 'pages_link', :href => pages_path} Pages

  #tp_toolbar.clearfix
    .left
      = render :partial => "files_toolbar"
    .right
      = render :partial => "upload" 
    
  = show_flash_message

  #tp_bd.clearfix
    = render :partial => "files_titles"