#tiny_paper
  %ul#nav_tabs.clearfix
    %li= link_to "Files", files_path
    %li= link_to "Pages", pages_path, :class => "selected"
  #top.pages_list
    %p Choose a page to create a direct link to it:
  #hd
    = render :partial => "pages_titles"
  = hidden_field_tag(:type, 'pages')
